// Typography
$font-family-sans-serif: "Comfortaa", cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
 
//colors
$white: #fff;
$black: #000000;
$mercury: #E5E5E5;
$dustygray: #999999;
$victoria: #494B9B;
$cinnabar: #EB4432;
$moodyblue: #8486CD;
$silverchalice: #AEAEAE;
//palete
$tasman: #C1C9B6;
$starkwhite: #d0c3b5;
$saddle: #504b49;
$zorba: #9e8e81;
$cloudy: #b1ada5;
$tapa: #7f7f78;
$spunpearl: #a3a3ac;
$dolphin: #74737c;
$contessa: #bc7c68;
$sazerac: #f1e0ce;
$linen: #FAF5EF;
$springwood: #E5DDD4;
$hintofred: #F1EDE9;